:root {
    --fuente: 'Noto Sans Old Italic', sans-serif;
    --blanco: #ffffff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;

}

body {
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 2;
    background-color: rgb(197, 182, 182);
}

.contenedor {
    margin: 0 auto;
    width: 90%;
    max-width: 120rem;
}

.contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    text-align: center;
    background-color: #393B43;
    margin-top: 20rem;
    width: 70%;
}



.contenido-titulo,
.formulario-titulo {
    color: #ffffff;
}

.contenido-titulo {
    font-size: 4rem;
    margin: 3rem 2rem;
}

.contenido-formulario {
    margin: 2rem 0;
}

.formulario-titulo {
    margin: 0;
    font-size: 2rem;
}

.campo {
    border: solid 1px #ffffff;
    background-color: transparent;
    width: 80%;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: calc(0.5 * 44px);
    outline: none;
    color: #ffffff;
    text-indent: 1.5rem;
}

.btn {
    border: solid 1px #ffffff;
    background-color: transparent;
    height: 3rem;
    font-size: 2rem;
    color: #ffffff;
    margin-top: 1rem;
}

.btn:hover {
    background-color: #ffffff49;
    cursor: pointer;
}

.bottom-container {
    grid-column: 1/4;
}

.errors {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    width: 70%;
    margin: -2rem auto 2rem;
}

.errors p {
    width: 100%;
    margin: 0;
    background-color: #ff000054;
    border: 1px solid red;
}

@media(max-width: 768px) {
    .bottom-container {
        width: 90%;
        margin: auto;
    }

    #form,
    .success {
        text-align: center;
        width: 100%;
    }

    .contenido {
        display: block;
    }

    .contenido-titulo {
        padding-top: 3rem;
        margin: 0;
    }

    .contenido-formulario {
        padding-bottom: 2rem;
    }

    .campo {
        margin: 1rem;
    }

    .errors p {
        margin-bottom: 4rem;
    }

}

.success {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}